#whychoose{
  margin-top: 200px;
  margin-left:20px;
  margin-right:20px;
  margin-bottom:200px; 
  background-color: white;
  border-radius: 8px;
  
  
  box-shadow: 
    0 2px 4px silver,
    0 8px 16px lightgray,
    0 16px 32px gainsboro;

    position:relative;

   padding:10px; 
}

.aboutimage1{
  position:absolute;
  height:400px;
  top:0;
  margin-top: 200px;
  margin-left:1000px;
  border-radius: 12px;
}
#whychoose h2,h1{
  color:goldenrod;
}
#whychoose li,pre{
  color:midnightblue;
}
body{
  background-image: url(/images/aboutbground.jpg);
}